<ng-container *ngIf="tag === 'message-confirmation-title'" i18n="@@message-confirmation-title">Confirmation Required
</ng-container>
<ng-container *ngIf="tag === 'message-confirmation-title-delete'" i18n="@@message-confirmation-title-delete">Delete
    Confirmation</ng-container>
<ng-container *ngIf="tag === 'message-delete-role'" i18n="@@message-delete-role">Do you want to delete that role?
</ng-container>
<ng-container *ngIf="tag === 'message-delete-occasion'" i18n="@@message-delete-occasion">Do you want to delete that
    occasion?</ng-container>
<ng-container *ngIf="tag === 'message-delete-exhibitor'" i18n="@@message-delete-exhibitor">Do you want to delete that
    exhibitor?</ng-container>
<ng-container *ngIf="tag === 'message-delete-user'" i18n="@@message-delete-user">Do you want to delete that user?
</ng-container>
<ng-container *ngIf="tag === 'message-role-name'" i18n="@@message-role-name">Role Name</ng-container>
<ng-container *ngIf="tag === 'message-add-role'" i18n="@@message-add-role">Add Role</ng-container>
<ng-container *ngIf="tag === 'message-update-role'" i18n="@@message-update-role">Update Role</ng-container>