<form [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
  <mat-card>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput type="password" i18n-placeholder="@@resetPassword-old" placeholder="Old password"
            formControlName="old" required>
          <mat-error *ngIf="resetPasswordForm.controls['old'].hasError('required')">
            <ng-container i18n="@@errorMessage-required">Required information</ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" i18n-placeholder="@@resetPassword-new" placeholder="New password"
            formControlName="new" required>
          <mat-error *ngIf="resetPasswordForm.controls['new'].hasError('required')">
            <ng-container i18n="@@errorMessage-required">Required information</ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" i18n-placeholder="@@resetPassword-confirmation" placeholder="Confirm password"
            formControlName="confirmation" required>
          <mat-error *ngIf="resetPasswordForm.controls['confirmation'].hasError('required')">
            <ng-container i18n="@@errorMessage-required">Required information</ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button type="submit" [disabled]="resetPasswordForm.pristine || !resetPasswordForm.valid">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>