<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="row">
        <div class="col">
          {{occasion.name}}
        </div>
        <div class="col-auto">
          <button mat-icon-button (click)="loadOccasion(occasion.id)">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <mat-form-field class="col">
        <input matInput [(ngModel)]="filter" i18n-placeholder="@@list-filter" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="row">
      <div *ngFor="let spot of filteredSpots" class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-6">
        <mat-card class="clickable" [ngClass]="spot.assignedExhibitor ? 'allocated-spot' : 'free-spot'"
          (click)="allocateSpot(spot)">
          <mat-card-header>
            <mat-card-title>
              <div class="row">
                <div class="col align-self-center">
                  {{spot.number}}
                </div>
                <div *ngIf="spot.assignedExhibitor" class="col-auto">
                  <mat-icon (click)="freeSpot(spot); $event.stopPropagation();">link_off</mat-icon>
                </div>
              </div>
            </mat-card-title>
            <!-- <mat-card-subtitle>
              <ng-container *ngIf="spot.assignedExhibitor">{{spot.assignedExhibitor.name}}</ng-container>
              <span style="font-style: italic" *ngIf="!spot.assignedExhibitor">Free</span>
            </mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="spot.assignedExhibitor">{{spot.assignedExhibitor.name}}</ng-container>
            <span style="font-style: italic" *ngIf="!spot.assignedExhibitor">Free</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>