<h2 matDialogTitle>
    <app-dialog-messages [tag]="options.titleTag"></app-dialog-messages>
</h2>
<mat-dialog-content>
    <app-dialog-messages *ngIf="options.messageTag" [tag]="options.messageTag"></app-dialog-messages>
    <app-dynamic-form [inputs]="options.inputs" (formInit)="form=$event"></app-dynamic-form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-icon-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button (click)="ok()" [disabled]="!form.valid || form.pristine">
        <mat-icon>check</mat-icon>
    </button>
</mat-dialog-actions>