.mat-card-header {
    text-align: center;
}

.header {
    background: url('http://arem.nouveau-site-joomla.fr/templates/theme3644/images/header-bg.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: #000 2px 0 15px;
    height: 300px;
}

agm-map {
    height: 300px;
}